.topbar,
.navbar.navbar-expand-lg.bg-white,
.footer,
.page-header,
#cta-print {
    display: none;
}

.container {
    width: 100vw;
}

#school-info {
    margin-bottom: 0;
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
    gap: 0 !important;
}

#school-info h2 {
    font-size: 1.2em;
}

#school-info h3 {
    font-size: 1.0rem;
}

#student-info p {
    margin-bottom: 0.2rem !important;
}

.xtra {
    margin-bottom: 0;
}

.xtra p {
    margin-bottom: 0;
}
